$ucllPink: #e30147;
$ucllLightBlue: #9fdaf9;
$ucllDarkBlue: #002757;
$background: #404040;
$accent: #858585;
$textColor: #ffffff;
$lightGray: #dddddd;
$black: #000000;
$icyBlue: #7affff;
$uraniumGreen: #99cc33;
$red: #ff2e2e;

* {
  margin: 0;
}

button {
  margin: 2px;
}

h1 {
  font-size: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: $background;
  font-size: 30px;
  color: $textColor;
  justify-content: space-between;

  a {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

aside {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  padding: 1vh 1vw;
  border: $ucllDarkBlue;
  border-style: solid;
  gap: 15px;
  #diagnostics {
    font-size: 20px;
  }
  #management {
    display: flex;
    flex-direction: row;
  }
  #temperatureUnit {
    display: flex;
    flex-direction: row;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  border: $ucllLightBlue;
  border-style: solid;
  div.reactor {
    margin: 1vh 1vw;
    width: 10vw;
  }
  img {
    width: 100%;
  }
}

.testScenario {
  margin-top: 10px;
  h2 {
    margin-top: 10px;
  }
  .fas {
    margin-left: 5px;
    font-size: 25px;
    cursor: pointer;
  }
  .fa-stop {
    color: $red;
  }
  .fa-radiation {
    color: $uraniumGreen;
  }
  .fa-temperature-low {
    color: $icyBlue;
  }
}

#navTitle {
  display: flex;
  flex-direction: row;
  img {
    height: 80px;
    margin-left: 20px;
  }
  p {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

#content {
  display: flex;
  flex-direction: row;
  margin: 4vh 4vw;
}
